.main__content{
    background: $backgroundColor;
    padding-top: 80px;
    padding-bottom: 100px;
    
    &-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: $blackColor;
        font-family: 'Golos';
    }
    &-cards{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &-complex{
        margin-top: 50px;
    }
    .main__card{
        background: $whiteColor;
        border-radius: 10px;
        padding: 28px 35px 30px 33px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 390px;
        width: 100%;
        
        &:nth-of-type(2){
            max-width: 335px;
            width: 100%;
            padding-right: 28px; 
        }
        
        &-title{
            font-family: 'Golos';
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            color: $greenColor;
            margin-bottom: 58px;
        }
        &-btn{
            align-self: flex-end;
        }
    }
    
    
}
@media (max-width:1185px) {
    .main__content{
        padding: 0 15px;
    }
}
@media (max-width:1155px) {
    .main__content{

        &-cards{
            justify-content: center;
            gap: 25px;
        }
    }
}
@media (max-width:780px) {
    .main__content{
        &-title{
            text-align: center;
        }
        .main__card{
            
            &:nth-of-type(2){
                max-width: 390px;
            }
        }
    }
}