.main__content 
    .container
        .main__content-help 
            h2.main__content-title Электронные помощники
            .main__content-cards 
                .main__card
                    h2.main__card-title Учет и рассмотрение микротравм 
                    a(href="#").main__card-btn
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4.29999C12.6936 4.29999 6.17521 9.55159 4.64681 16.7028C3.88321 20.276 4.39761 24.0756 6.10121 27.3088C7.74081 30.4204 10.4288 32.9352 13.6448 34.3604C16.99 35.8432 20.8304 36.1016 24.3464 35.0904C27.7384 34.1152 30.746 31.9748 32.7936 29.1016C37.0748 23.0948 36.5024 14.6572 31.4656 9.27479C28.5136 6.12039 24.3208 4.29999 20 4.29999ZM27.5316 20.8388L23.2516 25.222C22.168 26.332 20.4552 24.6504 21.5344 23.5456L23.694 21.334H13.4596C12.7328 21.334 12.1264 20.7272 12.1264 20.0008C12.1264 19.2744 12.7332 18.6676 13.4596 18.6676H23.6428L21.4404 16.4656C20.346 15.3712 22.0428 13.674 23.1372 14.7684L27.5216 19.1524C27.9864 19.6168 27.9908 20.3688 27.5316 20.8388Z" fill="#249842"/>
                        </svg>
                .main__card
                    h2.main__card-title Аудит системы управления профессиональными рисками в организациях
                    a(href="#").main__card-btn
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4.29999C12.6936 4.29999 6.17521 9.55159 4.64681 16.7028C3.88321 20.276 4.39761 24.0756 6.10121 27.3088C7.74081 30.4204 10.4288 32.9352 13.6448 34.3604C16.99 35.8432 20.8304 36.1016 24.3464 35.0904C27.7384 34.1152 30.746 31.9748 32.7936 29.1016C37.0748 23.0948 36.5024 14.6572 31.4656 9.27479C28.5136 6.12039 24.3208 4.29999 20 4.29999ZM27.5316 20.8388L23.2516 25.222C22.168 26.332 20.4552 24.6504 21.5344 23.5456L23.694 21.334H13.4596C12.7328 21.334 12.1264 20.7272 12.1264 20.0008C12.1264 19.2744 12.7332 18.6676 13.4596 18.6676H23.6428L21.4404 16.4656C20.346 15.3712 22.0428 13.674 23.1372 14.7684L27.5216 19.1524C27.9864 19.6168 27.9908 20.3688 27.5316 20.8388Z" fill="#249842"/>
                        </svg>
                .main__card
                    h2.main__card-title Расследование и учет легких несчастных случаев с анализом 
                    a(href="#").main__card-btn
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4.29999C12.6936 4.29999 6.17521 9.55159 4.64681 16.7028C3.88321 20.276 4.39761 24.0756 6.10121 27.3088C7.74081 30.4204 10.4288 32.9352 13.6448 34.3604C16.99 35.8432 20.8304 36.1016 24.3464 35.0904C27.7384 34.1152 30.746 31.9748 32.7936 29.1016C37.0748 23.0948 36.5024 14.6572 31.4656 9.27479C28.5136 6.12039 24.3208 4.29999 20 4.29999ZM27.5316 20.8388L23.2516 25.222C22.168 26.332 20.4552 24.6504 21.5344 23.5456L23.694 21.334H13.4596C12.7328 21.334 12.1264 20.7272 12.1264 20.0008C12.1264 19.2744 12.7332 18.6676 13.4596 18.6676H23.6428L21.4404 16.4656C20.346 15.3712 22.0428 13.674 23.1372 14.7684L27.5216 19.1524C27.9864 19.6168 27.9908 20.3688 27.5316 20.8388Z" fill="#249842"/>
                        </svg>
            
        .main__content-complex 
            h2.main__content-title Учебно-методические комплексы
            .main__content-cards 
                .main__card
                    h2.main__card-title Оценка профессиональных рисков 
                    a(href="#").main__card-btn
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4.29999C12.6936 4.29999 6.17521 9.55159 4.64681 16.7028C3.88321 20.276 4.39761 24.0756 6.10121 27.3088C7.74081 30.4204 10.4288 32.9352 13.6448 34.3604C16.99 35.8432 20.8304 36.1016 24.3464 35.0904C27.7384 34.1152 30.746 31.9748 32.7936 29.1016C37.0748 23.0948 36.5024 14.6572 31.4656 9.27479C28.5136 6.12039 24.3208 4.29999 20 4.29999ZM27.5316 20.8388L23.2516 25.222C22.168 26.332 20.4552 24.6504 21.5344 23.5456L23.694 21.334H13.4596C12.7328 21.334 12.1264 20.7272 12.1264 20.0008C12.1264 19.2744 12.7332 18.6676 13.4596 18.6676H23.6428L21.4404 16.4656C20.346 15.3712 22.0428 13.674 23.1372 14.7684L27.5216 19.1524C27.9864 19.6168 27.9908 20.3688 27.5316 20.8388Z" fill="#249842"/>
                        </svg>
                .main__card
                    h2.main__card-title Нормы выдачи и применения СИЗ и ДСИЗ
                    a(href="#").main__card-btn
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4.29999C12.6936 4.29999 6.17521 9.55159 4.64681 16.7028C3.88321 20.276 4.39761 24.0756 6.10121 27.3088C7.74081 30.4204 10.4288 32.9352 13.6448 34.3604C16.99 35.8432 20.8304 36.1016 24.3464 35.0904C27.7384 34.1152 30.746 31.9748 32.7936 29.1016C37.0748 23.0948 36.5024 14.6572 31.4656 9.27479C28.5136 6.12039 24.3208 4.29999 20 4.29999ZM27.5316 20.8388L23.2516 25.222C22.168 26.332 20.4552 24.6504 21.5344 23.5456L23.694 21.334H13.4596C12.7328 21.334 12.1264 20.7272 12.1264 20.0008C12.1264 19.2744 12.7332 18.6676 13.4596 18.6676H23.6428L21.4404 16.4656C20.346 15.3712 22.0428 13.674 23.1372 14.7684L27.5216 19.1524C27.9864 19.6168 27.9908 20.3688 27.5316 20.8388Z" fill="#249842"/>
                        </svg>
                .main__card
                    h2.main__card-title Контрольные листы 
                    a(href="#").main__card-btn
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4.29999C12.6936 4.29999 6.17521 9.55159 4.64681 16.7028C3.88321 20.276 4.39761 24.0756 6.10121 27.3088C7.74081 30.4204 10.4288 32.9352 13.6448 34.3604C16.99 35.8432 20.8304 36.1016 24.3464 35.0904C27.7384 34.1152 30.746 31.9748 32.7936 29.1016C37.0748 23.0948 36.5024 14.6572 31.4656 9.27479C28.5136 6.12039 24.3208 4.29999 20 4.29999ZM27.5316 20.8388L23.2516 25.222C22.168 26.332 20.4552 24.6504 21.5344 23.5456L23.694 21.334H13.4596C12.7328 21.334 12.1264 20.7272 12.1264 20.0008C12.1264 19.2744 12.7332 18.6676 13.4596 18.6676H23.6428L21.4404 16.4656C20.346 15.3712 22.0428 13.674 23.1372 14.7684L27.5216 19.1524C27.9864 19.6168 27.9908 20.3688 27.5316 20.8388Z" fill="#249842"/>
                        </svg>
            
